:root {
    --primary: #d9cb06;
    --bg: #ffffff;
    --primary-color: #111317;
    --primary-color-light: #1f2125;
    --primary-color-extra-light: #35373b;
    --secondary-color: #f9ac54;
    --secondary-color-dark: #d79447;
    --text-light: #d1d5db;
    --white: #ffffff;
    --max-width: 500px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: #fff;
    min-height: 1000px;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-content {
    text-align: right;
}

.feedback-form-and-map {
    display: flex;
    align-items: flex-start;
    /* Menyusun elemen sejajar di bagian atas */
    justify-content: space-between;
    /* Meletakkan elemen sesuai yang diinginkan */

}

.feedback-form {
    width: 45%;
    /* Lebar formulir umpan balik */
}

.maps-container {
    position: relative;
    width: 60%;
    margin-right: auto;
    /* Membuat margin kanan otomatis */
    /* Lebar peta */
    overflow: hidden;
    /* Memastikan konten peta tidak keluar dari batas kontainer */
}

.footer-content .social-icons a i {
    margin: 0 5px;
    /* Mengatur jarak antara ikon */
    color: rgb(255, 255, 255);
    /* Warna ikon */
}

.footer-content .social-icons a i:hover {
    color: #d9cb06;
    /* Warna ikon saat dihover */
}

.form-group {
    display: flex;
    align-items: center;
    /* Mengatur elemen secara vertikal */
}

.textarea {
    flex: 1;
    /* Membuat textarea mengisi sisa ruang */
    margin-right: 10px;
    /* Memberikan jarak antara textarea dan tombol submit */
}

.persuasi {
    font-size: 20px;
    font-family: serif;
}

.navbar {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem 7%;
    background-color: rgb(1, 1, 1 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo h1 {
    margin-left: 10px;
    /* Jarak antara logo dan teks PT-PRO */
    font-size: 1.5rem;
    /* Ukuran teks PT-PRO */
    color: #fff;
    /* Warna teks PT-PRO */
}

.navbar .navbar-logo {
    margin-top: 0.5rem;

    height: 5.2rem;
}

.navbar .navbar-logo img {
    width: 75%;
    display: flex;
}

.navbar .navbar-nav a {
    position: relative;
    display: inline-block;
    color: #d9cb06;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}


.hero {
    min-height: 100vh;
    display: flex;
    /* justify-content: center; horizontal */
    align-items: center;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 60px;
}



.hero .content {
    padding: 1.4rem 7%;
    max-width: 50rem;
    top: 500px;

}

.hero .content h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 5rem;
    color: #d9cb06;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 6rem;
    margin-bottom: 1rem;
}

.hero .content span {
    -webkit-text-stroke: 1px var(--primary);
}

.hero .content p {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    mix-blend-mode: difference;
}

.hero .content .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: rgb(180, 149, 7);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.header__image {
    position: relative;

}

.header__image::before {
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40rem;
    font-weight: 400;
    line-height: 20rem;
    color: var(--secondary-color);
    opacity: 0.1;
    z-index: -1;
}

.header__image img {
    max-width: 700px;
    margin: auto;
}

.ellipse-2 {
    border-radius: 4.9rem;
    background: rgba(217, 178, 6, 0.541);
    width: 9.8rem;
    height: 9.8rem;
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.ellipse-3 {
    position: absolute;
    /* Mengatur posisi elips */
    border-radius: 15rem;
    background: rgba(217, 178, 6, 0.541);
    width: 30rem;
    height: 30rem;
    top: 30%;
    transform: translate(-50%, -50%);
    margin-top: 11.5rem;
    /* Sesuaikan posisi elips ke atas */
    left: 25rem;
    /* Geser elips ke kiri sejauh mungkin */
    z-index: -1;
    /* Mengatur elips di belakang latar belakang */
}

/* About Section Start */
.about {
    padding: 3rem 7% 1.4rem;
    background: linear-gradient(180deg,
            #a87c2d 0%,
            #f0d27f 25.01%,
            #f3cb51 74.44%,
            #906126 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.about h2 {
    text-align: center;
    position: relative;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: #000000;
}

.about p {
    margin-top: 2.2rem;
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word;
    font-family: "Inter";
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 0rem;
    color: #000000;
}

.price__grid {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.price__card {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color-light);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}

.price__card:hover {
    background-color: var(--primary-color-extra-light);
    border-color: var(--secondary-color);
}

.price__card__content {
    flex: 1;
    margin-bottom: 1rem;
}

.price__card h4 {
    text-align: center;
    margin-bottom: 0.7rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
}

.price__card h3 {
    border-bottom: 2px solid var(--white);
}

.price__card img {
    margin-top: 2rem;
}

.price__card p {
    margin-bottom: 0.75rem;
    color: var(--white);
}

.price__card p img {
    margin-right: 0.5rem;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.price__btn {
    color: var(--secondary-color);
    background-color: transparent;
    border: 2px solid var(--secondary-color);
}

.price__btn:hover {
    color: var(--white);
    background-color: var(--secondary-color);
}

.footcont {
    padding: 50px;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
}

.kirim {
    background-color: var(--primary);
    /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}



/* About Section End */

/* Contact Section Start */

.contact {
    padding: 100px;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact h2 {
    text-align: center;
    position: relative;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: #d9cb06;
}

.contact p {
    margin-top: 2.2rem;
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word;
    font-family: "Inter";
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 0rem;
    color: #d9cb06;
}

.price__grid {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.price__card {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color-light);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}

.price__card:hover {
    background-color: var(--primary-color-extra-light);
    border-color: var(--secondary-color);
}

.price__card__content {
    flex: 1;
    margin-bottom: 1rem;
}

.price__card h4 {
    text-align: center;
    margin-bottom: 0.7rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
}

.price__card h3 {
    border-bottom: 2px solid var(--white);
}

.price__card img {
    margin-top: 2rem;
}

.price__card p {
    margin-bottom: 0.75rem;
    color: var(--white);
}

.price__card p img {
    margin-right: 0.5rem;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.price__btn {
    color: var(--secondary-color);
    background-color: transparent;
    border: 2px solid var(--secondary-color);
}

.price__btn:hover {
    color: var(--white);
    background-color: var(--secondary-color);
}

/* Contact Section End */

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 758px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav .login {
        display: none;
        /* Menyembunyikan teks login pada perangkat mobile */
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        font-size: 2rem;
    }


}

/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}