body {
    background: linear-gradient(135deg, #ffffff, #ffd700);
    /* Gradien dari putih ke kuning */
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 1100px;
    /* Lebar kontainer form */
    height: auto;
    /* Tinggi kontainer menyesuaikan dengan isi */
    border-radius: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30%;
    margin-bottom: 5%;
    /* Menambahkan margin atas dan bawah */
    overflow: auto;
    /* Menambahkan scroll jika konten lebih besar dari ketinggian kartu */
}

.card-header {
    background-color: #ffd700;
    /* Warna kuning */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-primary,
.btn-success {
    background-color: #333;
    /* Warna hitam */
    border-color: #333;
    /* Warna hitam */
}

.btn-submit {
    background-color: #ffd700;
    /* Warna hitam */
    border-color: #e6b800;
    /* Warna border menggunakan kuning */
    color: white;
}

.btn-primary:hover,
.btn-success:hover {
    background-color: #555;
    /* Warna abu-abu lebih tua saat hover */
    border-color: #555;
    /* Warna abu-abu lebih tua saat hover */
}